<div class="container-fluid container-dashboard">
    <div class="row dash-container">
        <main class="col-12">
            <div class="dash-text clearfix">
                <h1>Bibliothèque</h1>
                <a href="/ajouter" class="fa fa-plus"></a>
            </div>
            <section class="row container-fluid livres">
                {{#with livre as |livre|}} {{#each livre}}
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2 livre">
                    <div class="livre-info">
                        <a href="/modifier/{{ID}}" class="fa fa-edit modifier"></a>
                        <a href="javascript:void(0)" class="fa fa-trash supprimer"></a>
                        <h4>{{Titre}}</h4>
                        <p>{{Prenom}} {{Nom}}</p>
                        <a>plus</a>
                    </div>
                    <img src="/images/book_cover.jpg" class="img-fluid" alt="No Cover">
                </div>
                {{/each}} {{else}}
                <p>Votre bibliothèque est vide.</p>
                {{/with}}
            </section>

        </main>
    </div>
</div>