<div class="container-fluid emprunts">
    <div class="emprunts-container">
        <div class="row">
            <main class="col-12">
                <div class="emprunts-text clearfix">
                    <h1>Emprunts</h1>
                </div>
            </main>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text">
                    <p>Nombre d'emprunts: {{results.emprunts.Emprunts}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered text">
                    <thead>
                        <tr>
                            <th>
                                <h3>Livre: </h3>
                            </th>
                            <th>
                                <h3>Date d'emprunt: </h3>
                            </th>
                            <th>
                                <h3>Date de retour prévue: </h3>
                            </th>
                            <th>
                                <h3>Date de retour: </h3>
                            </th>
                            <th>
                                <h3>Durée: </h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>{{results.livre.Titre}}</p>
                            </td>
                            <td>
                                <p>{{results.dateEmprunt.DateEmprunt}}</p>
                            </td>
                            <td>
                                <p>{{results.dateRetourPrevue.DateRetourPrevue}}</p>
                            </td>
                            <td>
                                <p>{{results.dateRetour.DateRetour}}</p>
                            </td>
                            <td>
                                <p>{{results.duree.Duree}} jours</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>