{{#if row}}
<div class="container-fluid container-livre">
    <div class="row no-gutters livre-container">
        <div class="col-12 col-lg-8 col-xl-9 livre-main">
            <div class="livre-titre clearfix">
                <h1>{{row.Titre}}</h1>
            </div>
            <div class="livre-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et luctus tortor, ac efficitur lacus. Aenean
                    semper magna felis, auctor fermentum justo varius at. Suspendisse dolor sem, consectetur nec nibh id,
                    consectetur sagittis sapien. Aenean finibus mollis neque quis sodales. Pellentesque habitant morbi tristique
                    senectus et netus et malesuada fames ac turpis egestas. Fusce pulvinar bibendum elit convallis rhoncus.
                    Proin gravida odio lobortis sapien condimentum, at vulputate nunc rhoncus. Donec diam lacus, euismod
                    sit amet eleifend nec, ornare at nibh. Aenean maximus et nisi eu aliquam. Vivamus tincidunt nibh at mi
                    semper ullamcorper. Praesent euismod, ante non ornare consequat, est metus volutpat sem, et faucibus
                    est orci sit amet purus. Sed lobortis convallis urna, id sollicitudin sapien mollis a. Phasellus euismod
                    sed leo in malesuada. Proin eget laoreet eros. Nam quis placerat urna.</p>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-3 livre-side">
            <div class="livre-meta">
                <div class="livre-image">
                    <img class="rounded mx-auto d-block" src="/images/1.jpg" alt="{{row.Titre}}">
                </div>
                <p>{{row.AnneeParution}}</p>
                {{#each auteur}}
                <p>{{Prenom}} {{Nom}}</p>
                {{/each}}
            </div>
            <div class="livre-auteur">
                <a href="#" class="fa fa-thumbs-up vote-up"></a>
                <a href="#" class="fa fa-thumbs-down vote-down"></a>
            </div>
        </div>
    </div>
</div>
{{else}}
<p>Ce livre n'existe pas dans la base de données..</p>
{{/if}}
