<div class="container-fluid emprunts">
    <div class="emprunts-container">
        <div class="row no-gutters">
            <main class="col-12">
                <div class="emprunts-text clearfix">
                    <h1>Membres</h1>
                </div>
            </main>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered text">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Date d'inscription</th>
                            <th>Jours depuis l'inscription</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each results}}
                        <tr>
                            <th scope="row">{{ID}}</th>
                            <td>{{Prenom}}</td>
                            <td>{{Nom}}</td>
                            <td>{{DateCreation}}</td>
                            <td>{{jours}} jours</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>