<div class="container-fluid statistiques">
    <div class="row statistiques-container">
        <main class="col-12">
            <div class="statistiques-text clearfix">
                <h1>Statistiques</h1>
            </div>
        </main>
        <div class="col-3">
            <p>Nombre de livres: {{results.nombre.NombreDeLivres}}</p>
            <p>Nombre de livres en français: {{results.langueFrancaise.LangueFrancaise}}</p>
            <p>Nombre de livres en anglais: {{results.langueAnglaise.LangueAnglaise}}</p>
            <p>Nombre de livres en espagnol: {{results.langueEspagnole.LangueEspagnole}}</p>
        </div>
        <div class="col-3">
            <canvas id="chart" width="100" height="100"></canvas>
        </div>
    </div>
</div>

<script>
var data = {
    labels: [
        "Français",
        "Anglais",
        "Espagnol"
    ],
    datasets: [
        {
            data: [{{results.langueFrancaise.LangueFrancaise}}, {{results.langueAnglaise.LangueAnglaise}}, {{results.langueEspagnole.LangueEspagnole}}],
            backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ]
        }]
};
</script>